@model List<soppingbazar.Entities.product>
@{
    ViewBag.Title = "ProductTable";
}

<h2>ProductTable</h2>


<div>
    <form method="post">
        <input id="searchtxt" name="Search" />
        <button type="button" id="searchBtn">Search</button>

    </form>
    <button id="newBtn">New</button>

</div>



<div>
    <table>
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>.....</td>
                    <td>@product.Price</td>
                    <td>
                        <button class="editBtn" data-id="@product.ID">Edit</button>
                        <button class="deleteBtn" data-id="@product.ID">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script>
    $("#searchBtn").click(function () {
        var searchvalue = $("#searchtxt").val();
        

        $.ajax({
            url: "/Product/ProductTable",
            data: {
                search: searchvalue
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Failed!!!");
            });
    });


    $("#newBtn").click(function () {
       
        $.ajax({
            url: "/Product/Create"
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Failed!!!");
            });
    });

    $(".editBtn").click(function () {

        $.ajax({
            url: "/Product/Edit",
            data: {
                ID: $(this).attr("data-id")
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Failed!!!");
            });
    });

    $(".deleteBtn").click(function () {

        var confirmDelete = confirm("Are You Sure To Delete This Product");

        if (confirmDelete) {
            $.ajax({
                type: "POST",
                url: "/Product/Delete",
                data: {
                    ID: $(this).attr("data-id")
                }
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Failed!!!");
                });
       
        }
    });
</script>